logicapp-workspace/ais-sample-logicapp/s1-sub2/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Decode_messageBody": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "messageBody",
                            "type": "object",
                            "value": "@xml(triggerBody()?['contentData'])"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Create_or_update_item": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "databaseId": "ais-samples-db",
                        "containerId": "s1-sub2-final",
                        "item": "@addProperty(json(variables('messageRoot')),'id',Guid())",
                        "isUpsert": true
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "CreateOrUpdateDocument",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {
                    "Extract_root_of_message": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Extract_root_of_message": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "messageRoot",
                            "type": "object",
                            "value": "@xml(xpath(variables('messageBody'),'/GT_OutboundOrders')[0])"
                        }
                    ]
                },
                "runAfter": {
                    "Decode_messageBody": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_messages_are_available_in_a_topic": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "s1-processed",
                        "subscriptionName": "s1-sub2",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveTopicMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        }
    },
    "kind": "Stateful"
}