logicapp-workspace/ais-sample-logicapp/s1-sub1/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Decode_message_body": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "messageBody",
                            "type": "object",
                            "value": "@xml(triggerBody()?['contentData'])"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Upload_blob_to_storage_container": {
                "type": "ServiceProvider",
                "description": "This action currently just saved the XML document to blob storage. An additional step is need to encode the XML document to flat file format, but a flat file schema is required for this.",
                "inputs": {
                    "parameters": {
                        "containerName": "/s1-sub1-final",
                        "blobName": "@variables('blobName')",
                        "content": "@variables('messageBody')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "uploadBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {
                    "Create_blob_name": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Create_blob_name": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "blobName",
                            "type": "string",
                            "value": "@{concat(guid(),'.xml')}"
                        }
                    ]
                },
                "runAfter": {
                    "Decode_message_body": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_messages_are_available_in_a_topic": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "s1-processed",
                        "subscriptionName": "s1-sub1",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveTopicMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        }
    },
    "kind": "Stateful"
}